/* 
CORES
#8EA637
#BBD94E
#7A8C37
#595954
#400404

#024873
#50C4F2
#BF7821
#8C4A0F
#402C20

font-family: 'Playfair display', sans-serif;
font-family: 'Oooh Baby', cursive;
font-family: 'roboto', sans-serif;
font-family: 'Mynerve', cursive;
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}    

::-webkit-scrollbar{
    display: none;
}

/*--------------------------*/
/* HEADER                   */
/*--------------------------*/
header{
    max-width: 100%;
    height: 90vh;
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url('');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

/* Navbar */
header nav#nav-esq{
    max-width: 100%;
    height: 45px;
    background-color:#BBD94E ;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

header nav#nav-esq div#logo{
    width: 200px;
    height: 50px;
    margin-left: 1rem;
}

header nav#nav-esq div#logo img{
    max-width: 100%;
    max-height: 100%;
}

/* Menu hamburger*/
header nav#nav-esq ul#icone-menu{
    display: none;
}

header nav#nav-esq ul#icone-menu li{
    list-style: none;
}

header nav#nav-esq ul#icone-menu li ion-icon{
    font-size: 50px;
    color: #ffffff;
    margin-right: 2rem;
}

header nav#nav-esq ul#menu-principal{
    margin-left: 1rem;
    display: flex;
    flex-flow: row wrap;
}

header nav#nav-esq ul#menu-principal li{
    list-style: none;
    margin-right: 5rem;
}

header nav#nav-esq ul#menu-principal li a{
    text-decoration: none;
    color: #fff;
    font-size: 100%;
    text-shadow: 4px 6px 10px #000;
    padding-bottom: 10px ;
    transition: .3s ease-out;
}

header nav#nav-esq ul#menu-principal li a:hover{
    border-bottom: 1px solid #fff;
    opacity: .6;
}

/* Chamada */
header div.chamada{
    position: absolute;
    width: 100%;
    height: 300px;
    text-align: center;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header div.chamada h1{  
    color: #50C4F2;
    animation-name: HeaderH1-moverParaDireita;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

header div.chamada h2{
    color: #50C4F2;
    animation-name: HeaderH1-moverParaEsquerda;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

/* Botão chamada */
div.chamada a{
    font-size: max(15px, 1.8vw);
    color: #fff;
    text-decoration: none;
    padding: 10px 80px;
    border-radius: 50px;
    font-weight: 500;
    background: linear-gradient(135deg, #006d3b 0%, #00a86b 50%, #7fffd4 100%);
    display: inline-block;
    animation-name: HeaderA-MoverParaCima;
    animation-duration: 1s;
    animation-delay:1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;  
    transition: .3s ease-in-out; 
    top: 70%;
}

div.chamada a:hover{
    opacity: .8;
}

/* Carousel */
.carousel-item img {
    width: 100%;
    height: 533px;
    object-fit: cover;
}

/*--------------------------*/
/* SEÇÃO SOBRE              */
/*--------------------------*/
section.sobre{
    max-width: 100%;
    padding-top: 60px;
    padding-bottom: 30px;
    margin-bottom:20px ;  
    text-align: center;
}

section.sobre div.sobre-mestre{
    text-align: center;
    margin-bottom: 40px;
}

section.sobre div.sobre-mestre img{
    border: 1px solid #000;
    max-width: 140px;
    height: auto;
}

section.sobre div.sobre-mestre h2 {
    font-size: max(22px, 1.8vw);
    margin-top: 20px;
}

/*--------------------------*/
/* CARDAPIO                 */
/*--------------------------*/
section.cardapio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #00a86b;
    border-bottom: 2px solid #00a86b;
    padding-top: 10px;
    padding-bottom: 40px;
    margin-bottom: 60px;
    background-color: #fff;
}

section.cardapio h2{
    margin-top: 40px;
    margin-bottom: 50px;
    max-width: 950px;
    text-align: center;
    color: #000;
    font-size: max(22px, 2.8vw);
}

section.cardapio div.cardapio-mestre{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 40px;
}

section.cardapio div.cardapio-mestre div.cardapio-texto{
    max-width: 800px;
    text-align: left;
    line-height: 1.8;
    margin-bottom: 20px;
}

section.cardapio div.cardapio-mestre div.cardapio-texto p{
    width: 95%;
    margin: auto;
    text-shadow: 2px 2px 5px #00a86b;
    font-size: max(16px, 1vw);
} 

section.cardapio div.cardapio-mestre div.cardapio-img{
    max-width: 100%;
}

/*--------------------------*/
/* PRODUTO                  */
/*--------------------------*/
section.produto{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 40px;
    margin-bottom: 60px;
}

section.produto h2{
    margin-top: 40px;
    margin-bottom: 50px;
    max-width: 950px;
    text-align: center;
    color: #000;
    font-size: max(22px, 2.8vw);
}

section.produto div.produto-container{
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/*--------------------------*/
/* FOOTER                   */
/*--------------------------*/
footer{
    width: 100%;
    background-color: #BBD94E;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div.footer-container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

footer div.footer-container di.logo-footer{
    width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

footer div.footer-container di.logo-footer img{
    max-width: 100%;
}

footer div.footer-container div.footer-info{
    width: 70%;
    margin-bottom: 50px;
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

footer div.footer-container div.footer-info nav.nav-footer ul{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

footer div.footer-container div.footer-info nav.nav-footer ul li{
    list-style: none;
    margin-bottom: 15px;
}

footer div.footer-container div.footer-info nav.nav-footer ul li a{
    text-decoration:none;
    color: #fff;
    font-size: 110%;
    text-shadow: 4px 6px 10px #000;
    transition: .3s ease-out;
}

footer div.footer-container div.footer-info nav.nav-footer ul li a:hover{
    opacity: .6;
    border-bottom: 1px solid #fff;
}

footer div.footer-container div.footer-info div.cartoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div.footer-container div.footer-info div.cartoes span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: max(16px, 1.5vw);
    margin-bottom: 5px ;
    color: #fff;
    text-shadow: 4px 6px 10px #000;
}

footer div.footer-container div.footer-info div.cartoes div.footer-img-cartoes{ 
    max-width: 340px;
}
footer div.footer-container div.footer-info div.cartoes div.footer-img-cartoes img{
    max-width: 100%;
}

footer span.autorais{
    color: #fff;
    font-size: max(14px, .8vw);
    margin-top: 20px;
}

/*--------------------------*/
/* AJUSTES GERAIS           */
/*--------------------------*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* evita scroll horizontal */
}